.pagination_container {
  /* display: flex; */

  background-color: white;
  border-radius: 4px;

  width: 100%;

  position: absolute;
  bottom: 0;
  z-index: 3;

  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;

  box-shadow: -4px 18px 20px 7px rgb(0 0 0 / 19%);
}

.pages {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}

.page__btn,
.btn.btn--primary,
.page__dots {
  padding: 0.625rem;
}

.btn {
  transition: all 0.3s;
}
.btn.btn--primary {
  font-size: 1rem;
  line-height: 0.75rem;
  font-weight: bold;
  cursor: pointer;

  border: 2px solid #6e40ff;
  border-radius: 4px;
  color: #6e40ff;
  background-color: #fff;
}

.btn.btn--primary.--disabled {
  background-color: rgb(210 210 210);
  color: #8d8b8b;
  border: none;
  cursor: not-allowed;
}

.btn:hover {
  color: #fff;
  background-color: #6e40ff;
}

#pages_container {
  display: flex;
  align-items: center;
  background-color: white;
  width: fit-content;

  gap: 1rem;
  margin: 0;
  padding: 0;
}

/* body{
  overflow: hidden;
} */

.pages_container-download-btn {
  width: 15.625rem;
  display: flex;
  justify-content: end;
  margin-right: 1.25rem;
}
