.pagination_container{
  /* display: flex; */

  background-color:white;
  border-radius: 4px;

  width: 100%;

  position: absolute;
  bottom: 0;
  z-index: 3;

  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: -4px 18px 20px 7px rgb(0 0 0 / 19%);
}

.pages{
  display: flex;
  align-items: center;

}

ul{
  list-style: none;
}

.page__btn, .page__numbers, .page__dots  {
  padding: 1rem;
}

.page__numbers{
  font-size: 20px;
  line-height: .875rem;
  font-weight: bold;
  cursor: pointer;

  border: 2px solid #5f9ea0;
  border-radius: 4px;
  color: #5f9ea0;
  background-color: #fff;

}

.page__numbers.--disabled{
  background-color: rgb(210 210 210);
  color: #8d8b8b;
  border: none;
  cursor: not-allowed;
}

#pages_container{
  display: flex;
  align-items: center;
  background-color: white;
  width: fit-content;

  gap: 1rem;
}

/* body{
  overflow: hidden;
} */