#user-activities {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  min-width: 100%;
}

#user-activities th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background-color: #172b4d;
  color: #fff;

  margin-bottom: 5.3125rem;

  font-style: normal;
  font-weight: 700;
  font-size: 14px !important ;
  line-height: 14px !important;
}

/* #6E40FF */

th {
  /* border: 1px solid #ddd; */
  padding: 2px;
  min-width: 120px;
}

#user-activities tr:nth-child(2n) {
  background-color: #fafbfc;
}

#user-activities td,
#user-activities th {
  border: 0.5px solid #dddddd91;
  padding: 1rem;
  min-width: 120px;

  position: relative;

  /* min-width: 10.625rem; */
}

/* modal css */

/* The Modal (background) */
.modal {
  /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  z-index: 4;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 3.3125rem auto; /* 15% from the top and centered */
  /* padding: 1.25rem; */
  border: 1px solid #888;
  width: fit-content; /* Could be more or less, depending on screen size */
  border-radius: 0.25rem;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.modal-content-table-data,
.modal-content-table-heading {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.modal-content-table-row:nth-child(even) {
  background-color: #dddddd;
}

#expand_activites-modal-table {
  height: calc(100vh - 20rem);
}

.expand_activites-modal-table-heading-row {
  background: #fff;
  z-index: 2;
}

/* header css */

.app_header {
  width: 100%;
  height: 4rem;
  background-color: #fff;
  /* box-shadow: -1px 8px 11px 8px rgba(231,231,231,1); */
  padding-top: 2rem;
}

/* css changes */

thead {
  position: sticky;
  top: 0;
  z-index: 3;
}

table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;

  height: calc(100vh - 4.375rem);
}

.table_column-filter-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.table_column_filter_icon {
  width: 1.25rem;
  height: 1.25rem;
  filter: grayscale(1) invert(1);

  margin-left: 0.5rem;
}

.table_row-text.expandable-rows {
  color: #35359eeb;
  cursor: pointer;
}

.table_row-text.expandable-rows:hover {
  text-decoration: underline;
}

.user-activities_table {
  box-shadow: -2px 3px 45px -18px rgb(0 0 0 / 59%);
}

/* animate table  */
.table_row-text {
  animation: table-row 1s;
  transition: all 0.5s;
}

@keyframes table-row {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.empty__state-img {
  width: 12.5rem;
  height: 12.5rem;
}

.empty__state-img img {
  width: 100%;
  height: 100%;
}

.empty__state-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 1.25rem;

  text-align: center;
}

.modal_heading {
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #172b4d;

  margin: 0;
  padding: 1rem;
}

#expand_activites-modal-table {
  padding: 0 1.25rem;
}

.table_row-text {
  font-style: normal;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.0625rem;
  color: #172b4d;
}

.table_column-filter-header.date_picker-range {
  min-width: 10.5625rem;
}
